.parent {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.child {
  width: 400px;
  height: 100px;
  background-color: orange;
}
